{:sections
 [{:key :fixes :regex ".*#\\d+.*" :title "New features, bugfixes"}
  {:key :wip :regex ".*\\[[Ww][iI][pP]\\].*" :title  "Work in progress, not yet ready"}]
 :formattable-objects
 [{:template "<a href=\"https://github.com/%1$s/%2$s/issues/$1\"> #$1</a>" :regex "#(\\d+)"}
  {:template "<a href=\"https://github.com/$2/issues/$3\">$2: $3</a>" :regex "(([_\\w/-]+)#(\\d+))"}
  {:template "<span style=\"color: red; font-weight: bold;\">$1</span>" :regex "(\\[refactor\\])"}
  {:template "<br/>" :regex "(\\n)"}]}
