<li><a href="https://github.com/MailOnline/{{project-name}}/commit/{{hash}}">{{hash}}</a> (<em>{{project-name}}</em>) {{date}} [{{commiter}}]  <strong>{{{linked-subject}}}</strong>
<p>{{{linked-body}}}
</li>
